/* headerBar */

/* topBar */
.topBar {
    height: 30px;
    background-color: #F7F7F7;
    line-height: 30px;
    font-size: 90%;
}

.rightTopBarArea a:hover {
    display: inline-block;
    color: red;
    text-decoration: underline;
}

.leftTopBarArea {
    margin-left: 30px;
}

.collection {
    background: url("../assets/headerBar/topBar/黄色五角星.png") left center no-repeat;
    padding-left: 16px;
}

.rightTopBarArea {
    margin-right: 78px;
}

/* logoBar */
.logoBar {
    height: 90px;
    background-color: #1d7ad9;
}

.logo {
    padding-left: 35px;
    padding-top: 12px;
}

.searchBox {
    /* width应为430px,但input text默认样式偏大,暂未找到如何清除该样式 */
    width: 430px;
    padding-right: 220px;
    padding-top: 26px;

}

.searchText {
    width: 358px;
    height: 34px;
    font-size: 18px;
}

.searchButton {
    width: 70px;
    height: 36px;
    color: #FFF;
    font-size: 14px;
    background-color: #ff8c00;
}

.shopCart {
    width: 150px;
    height: 35px;
    color: #FFFFFF;
    margin-top: 26px;
    margin-right: 80px;
    background-color: #ff8c00;
}

.shopCartText {
    line-height: 35px;
    border-right: #E27A00 solid 1px;
    background: url("../assets/headerBar/logoBar/购物车图标.png") 10px center no-repeat;
    padding-left: 40px;
}

.shopCartCounter {
    width: 23px;
    border-left: #ff9c01 1px solid;
    padding-right: 40px;
    line-height: 35px;
    text-align: right;
    background: url("../assets/headerBar/logoBar/箭头.png") 33px center no-repeat;
}

/*navigator*/
.navigator {
    height: 35px;
    background-color: #1369c0;
    color: #FFFFFF;
}

.shopClass {
    width: 190px;
}

.shopClass h3 {
    line-height: 35px;
    text-align: center;
    background: url("../assets/headerBar/navigator/三角箭头.png") 150px center no-repeat;
}

.topNav {
    line-height: 35px;
}

.topNav li {
    float: left;
}

.topNav li a {
    height: 35px;
    display: inline-block;
    width: 100px;
    text-align: center;
    color: #FFFFFF;

}

.topNav .activeTopNav {
    background-color: #4593fd;
}

.shopClassMenu {
    background-color: #4593fd;
}

.shopClassItem {
    padding: 10px 16px;
    font-size: 15px;
    border-bottom: #3487f2 2px solid;
    border-top: #5aa1fe 2px solid;
}

/*.inactiveShopClassItem {*/
/*background-color: #ffffff;*/
/*}*/

/*.inactiveShopClassItem .commonItem {*/
/*color: #000000;*/
/*}*/

/*.inactiveShopClassItem .navGoodsClass {*/
/*color: #000000;*/
/*}*/

/*.inactiveShopClassItem dt {*/
/*background: url("#");*/
/*}*/

.activeShopClassItem {
    background-color: #ffffff;
}

.activeShopClassItem .commonItem {
    color: #000000;
}

.activeShopClassItem .navGoodsClass {
    color: #000000;
}

/*.activeShopClassItem dt {*/
/*background: url("#");*/
/*}*/

.shopClassItem dt {
    height: 24px;
    font-size: 80%;
    background: url("../assets/headerBar/navigator/箭头.png") right no-repeat;
}

.shopClassItem dt a {
    color: #FFFFFF;
}

.commonItem {
    font-weight: bold;
    padding-right: 5px;
}

.stressItem {
    display: inline-block;
    background-color: #106ac0;
    padding: 2px 5px;
    border: #5aa1fe 2px solid;
    border-radius: 100px;
    text-decoration: underline;
}

.navGoodsClass {
    font-size: 70%;
    color: #c2d9f8;
    padding-right: 4px;
}

/*banner*/
.bannerBoard {
    position: relative;
    width: 1010px;
    height: 315px;
    overflow: hidden;
}

.bannerBoard .imgBox {
    width: 1010px;
    height: 315px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bannerBoard .imgBox li {
    height: 100%;
}

/*设置banner中图片的默认尺寸*/
.bannerBoard .imgBox img {
    width: 1010px;
    height: 315px;
}

.bannerPageNumber {
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 100%;
    text-align: center;
}

.bannerPageNumber a input {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    margin: 0 5px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    /*CSS3 standard*/
    opacity: 0.7;
    /* for IE */
    filter: alpha(opacity=60);
}

.bannerPageNumber .inactiveBannerBoard {
    background-color: #FFFFFF;
    color: #000;
}

.bannerPageNumber .activeBannerBoard {
    background-color: #ff8800;
    color: #FFFFFF;
}

/*shopTitle*/
.shopTitleItem {
    height: 75px;
    background: url("../assets/shopTitle/shopTitleIcon.png") left center no-repeat;
    font-size: 28px;
    line-height: 75px;
    padding-left: 65px;
}

.shopTitle .more {
    margin-top: 30px;
    font-size: 14px;
}

.shopTitleItem .more:hover {
    text-decoration: underline;
}

/*shopList*/
.shopList {
    position: relative;
}


.leftShopListArea .imgBox {
    width: 190px;
    height: 420px;
    font-size: 0;
    overflow: hidden;
    top: 0px;
}

.leftShopListArea .imgBox img {
    width: 190px;
    height: 420px;
}

.leftShopListArea .imgBox li {
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
}

.leftShopListArea .imgBox li a {
    display: inline-block;
    height: 100%;
}

.shopListPageNumber {
    /*position: absolute;*/
    left: 0;
    bottom: 12px;
    width: 100%;
    text-align: center;
}

.shopListPageNumber a input {
    display: inline-block;
    width: 20px;
    line-height: 20px;
    text-align: center;
    margin: 0 5px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    /*CSS3 standard*/
    opacity: 0.7;
    /* for IE */
    filter: alpha(opacity=60);
}

.shopListPageNumber .inactiveBannerBoard {
    background-color: #FFFFFF;
    color: #000;
}

.shopListPageNumber .activeBannerBoard {
    background-color: #ff8800;
    color: #FFFFFF;
}

.shopList .rightShopListArea {
    position: absolute;
    top: 0;
    left: 250px;
    width: 884px;
    border-left: #e5e5e5 1px solid;
    border-top: #e5e5e5 1px solid;
    border-bottom: #e5e5e5 1px solid;
}

.shopList .rightShopListArea .topShopListItem {
     width: 150px;
     height: auto;
     text-align: center;
     float: left;
     padding: 40px 35px;
     border-right:#e5e5e5 1px solid;
 }

.shopList .rightShopListArea .bottomShopListItem {
    width: 150px;
    height: 72px;
    text-align: center;
    float: left;
    padding: 40px 35px;
    border-right:#e5e5e5 1px solid;
    border-top:#e5e5e5 1px solid;
}

.shopList .rightShopListArea .bottomShopListItem img{
    display: inline-block;
    height: 70px;
}

.footer {
    margin-top: 40px;
    padding: 20px 0;
    background-color: grey;
}

.footer p {
    margin: 5px;
    color: #000000;
    text-align: center;
}

.footer a {
    color: #000000;
    font-weight: normal;
}

.footer span {
    margin: 0 3px;
}