/*清除浮动*/
.clearFix:after {
    content: "";
    display: block;
    clear: both;
}

.clearFix{
    zoom: 1;
}

/*通用规格*/
.commonWidth{
    width:1200px;
    margin-left: auto;
    margin-right: auto;
}